[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==1.6.2"
uvicorn = "==0.22.0"
pandas = "==2.0.1"
pydantic-settings = "==2.0b3"
python-dotenv = "==1.0.0"
transformers = "==4.29.2"
torch = "==2.0.1"
sentence-transformers = "==2.2.2"

[dev-packages]

[requires]
python_version = "3.9"
